/*-----------------------------GENERAL--------------------------------*/
* { 
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#fbfbfb;
}

img {
    object-fit: cover;
}

/*-----------------------------NAVBAR--------------------------------*/

header {
    height: 80px;
    width: 100%;
    background-color: #ce0505;
}

nav img {
    border-radius: 200px;
    width: 52px; 
    margin:12px 0 10px 21px; 
    float: left; 
}

nav ul li {
    display: inline-block;
    margin-right: 26px;
    font-size: 16px;
    font-weight: 500;
    margin-top:25px;
}

nav ul li a {
    color: #fff;
}

nav ul {
    float: right;
}

.create-account-container {
    border: 1px solid white;
    border-radius: 3px;
    height:46px;
    width:181px;
    text-align:center;
    position:relative;
    bottom:10px;
}

.create-account-container a {
    position: relative;
    top:10px;
}


/*-----------------------------HEADING--------------------------------*/

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #192f60;
    margin: 37px auto 37px 113px;
}


/*-----------------------------FILTERS-CARD-------------------------------*/

.filters {
    width:260px;
    height:682px;
    padding: 17px 25px 10px 0px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-left: 113px;
    float: left;
}

.select-location-label,
.select-location-option {
    display: block;
}

/*------------FILTERS-TEXT--------------*/

.filters h4 {
    font-size: 18px;
    font-weight: 600; 
    color: #192f60; 
    margin-left: 26px;
}

.filters-heading {
    margin-left: 26px;
    line-height: 1.5;
}

.select-location-label {
    font-size: 14px;
    color: #192f60;
    line-height: 1.5;
    margin-left: 26px;
    margin-top:10px;
}

.cuisine-heading {
    font-size: 14px; 
    color: #192f60;
    line-height: 1.5;
    margin-left: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    margin-top:22px;
}

.cost-for-two-heading {
    font-size: 14px;
    line-height: 1.5;
    color: #192f60;
    margin-left: 26px;
    margin-top:22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
}

.filters ul {
    margin-left: 26px;
}

.filters select {
    margin-left:26px;
    margin-top: 11px;
}

li {
    margin-top:12px;
}

ul label {
    margin-left:11px;
    color: #8c96ab;
    font-size: 14px;
}

.sort-heading {
    margin-top:22px;
}


/*---------------------FOOD CARDS CONTAINER------------------------------*/

.first-food-card, 
.second-food-card {
    width:794px;
    height:291px;
    margin-left: 470px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:#ffffff;
}

/*---------FOOD CARDS IMAGES--------*/
.first-food-card img,
.second-food-card img {
    width:120px;
    height:120px;
    border-radius: 33px;
    float: left;
    margin-left:35px;
    margin-top: 25px;
}

/*---------FOOD CARDS TEXT--------*/

.food-card-heading-one, 
.food-card-heading-two {
    font-size: 30px;
    font-weight: 600;
    color: #192f60;
    margin-left:196px;
    margin-top:39px;
    margin-bottom:8px;
}

.food-card-subheading-one,
.food-card-subheading-two {
    font-size: 16px;
    font-weight: 500;
    color: #192f60;
    margin-left:196px;
}

.food-card-para-one,
.food-card-para-two {
    font-size: 16px;
    color: #636f88;
    margin-left:196px;
}

hr {
    width:724px;
    margin-left:35px;
    margin-top:31px;
    border: solid 1px #dedfe5;
}

.description-one,
.description-two {
    float: left;
    margin-top: 26px;
    margin-left:35px;
}

.description-one p,
.description-two p {
    font-size: 16px;
    color: #636f88;
    line-height: 1.88;
}

.description-one-ans,
.description-two-ans {
    margin-top: 26px;
} 

.description-one-ans p,
.description-two-ans p {
    font-size: 16px;
    color: #192f60;
    line-height: 1.88;
    position:relative;
    left:36px;
}


.food-card-heading-one, 
.food-card-heading-two,
.food-card-subheading-one,
.food-card-subheading-two,
.food-card-para-one,
.food-card-para-two,
.description-one,
.description-two,
.description-one-ans,
.description-two-ans,
hr {
    position:relative;
    top:35px;
}

.cards-container{
    margin-left: 200px;
}

.main-heading {
    margin-left:314px;
}

/*---------PAGES--------*/

.page {
    height:36px;
    width:36px;
    text-align:center;
    display: inline-block;
    border-radius: 7px;
    border: solid 1px #8c96ab;
    margin-left:13px;
}

.pages a {
    font-size: 20px;
    font-weight: 500;
    color: #8c96ab;
    margin-top:3px;
    margin:0 auto;
    position:relative;
    top:4px;
}

.pages {
    margin-top: 51px;
    margin-left:670px;
}

.pg-one {
    background-color:#8c96ab;
}

.pg-one a {
    color: white;
}











































































































